---

import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="Welcome to Astro.">
  <div class="sections">
    <section>
      <h1>Section 1</h1>
    </section>
    <section>
      <h1>Section 2</h1>
    </section>
    <section>
      <h1>Section 3</h1>
    </section>
    <section>
      <h1>Section 4</h1>
    </section>
  </div>
</Layout>

<style>
  .sections {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Adds a 2rem gap between sections */
  }

  section {
    padding: 1rem;
    border: 1px solid #ccc;
  }
</style>
